<div id="toolbar">
  <h1 id="title"><a href="/">Ray Britton</a></h1>

  <div id="links">
    <div class="link"><a target="_blank" href="https://play.google.com/store/apps/developer?id=Ray+Britton"><img src="/images/play_store.png"/><span>Play Store</span></a></div>
    <div class="link"><a target="_blank" href="https://www.github.com/raybritton"><img src="/images/github.png"/><span>Github</span></a></div>
    <div class="link"><a target="_blank" href="https://www.linkedin.com/in/ray-britton-7113b726/"><img src="/images/linkedin.png"/><span>Linkedin</span></a></div>
    <div class="link"><a target="_blank" href="mailto:raybritton@gmail.com"><img src="/images/email.png"/><span>Email</span></a></div>
  </div>
</div>