<div id="page-container"> 
  {{> toolbar}}
  <div id="error-container">
    <h2 id="error-title">404</h2>
    <p id="error-message">Sorry, page not found</p>
    <a  id="error-link" href="/">Click here to go back to the homepage</a>
  </div>
</div>